/* Стили для карты */
#map {
    height: calc(100vh - 80px - 40px); /* Высота карты: 100% высоты экрана минус высота хедера и футера */
    width: calc(100% - 280px); /* Карта занимает всю ширину, за исключением бокового меню и правого отступа */
    margin-top: 20px;
    position: absolute;
    top: 80px; /* Отступ от хедера */
    left: 260px; /* Отступ от боковой панели */
    right: 20px; /* Добавляем отступ справа */
}

/* Мобильный вид */
@media (max-width: 768px) {
    #map {
        width: calc(100% - 220px); /* Уменьшаем ширину карты для мобильных устройств */
    }
}
